<!DOCTYPE html>
<html>
  <head>
    <title>{{head.title}}</title>
    {{{head.meta_tags}}}
    {{{head.config}}}

    {{{stylesheet '/assets/css/theme.css'}}}
    {{getFontsCollection}}

    <link href="{{head.favicon}}" rel="shortcut icon">
  </head>
  <body>
    {{#block "page"}}{{/block}}
    <!-- start number replacer -->
<script type="text/javascript"><!--
vs_account_id      = "Ch4Nm1nEDW00zwAy";
//--></script>
<script type="text/javascript" src="https://rw1.marchex.io/euinc/number-changer.js">
</script>
<!-- end ad widget -->

  </body>
</html>
